@charset "UTF-8";

:root {
    --cor1: #6bdb84;
    --cor2: #552ca0;
}


@media screen and (min-width: 768px) and (max-width: 992px) {

    html,
    body {
        background-image: linear-gradient(to top, var(--cor1), var(--cor2));
    }

    #telaLogin {
        width: 80vw;
        height: 320px;
        background-color: white;
    }

    #telaLogin>#imagem {
        float: left;
        width: 40%;
        height: 100%;
    }

    #telaLogin>#formulario {
        float: right;
        width: 60%;
    }

    #formulario>h1 {
        font-size: 2em;
        margin: 20px 0px 10px 0px;
    }

    #formulario p {
        font-size: 1.2em;
    }

    form > input[type="submit"] {
        background-color: var(--cor2);
        color: var(--cor1);
        border-color: none;
        width: 70%;
        height: 40px;
        font-size: 1.4em;
    }

    form > input[type="submit"]:hover {
        background-color: #6bdb84;
        color: var(--cor2);
        border-color: none;
    }

    form > a {
        background-color: white;
        font-size: 1.3em;
    }
}

@media screen and (min-width: 992px) {

    html,
    body {
        background-image: linear-gradient(to left, var(--cor1), var(--cor2));
    }

    #telaLogin {
        width: 900px;
        height: 320px;
        background-color: white;
    }

    #telaLogin>#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    #telaLogin>#formulario {
        float: left;
        width: 50%;
    }

    #formulario>h1 {
        font-size: 2.2em;
        margin: 20px 0px 10px 0px;
    }

    #formulario p {
        font-size: 1.3em;
    }

    form > input[type="submit"] {
        background-color: var(--cor2);
        color: var(--cor1);
        width: 70%;
        height: 40px;
        font-size: 1.4em;
    }

    form > input[type="submit"]:hover {
        background-color: #6bdb84;
        color: var(--cor2);
        border-color: none;
    }

    form > a {
        background-color: white;
        font-size: 1.3em;
    }
}