@charset "Utf-8";

:root {
    --cor1: #4da560;
    --cor2: #552ca0;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

html,
body {
    background-color: var(--cor2);
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
}


#telaLogin {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 500px;

    border-radius: 20px;
    background-color: var(--cor1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.733);
    overflow: hidden;

    transform: translate(-50%, -50%);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

#telaLogin>#imagem {
    display: block;
    background: var(--cor1) url(../images/pexels-miriam-espacio-2703478.jpg) no-repeat;
    background-size: cover;
    margin-bottom: 10px;
    height: 220px;
}

form {
    padding: 0px 10px;
}

#telaLogin>#formulario {
    display: block;
}

#formulario>h1 {
    text-align: center;
    font-size: 1.8em;
    color: var(--cor2);
}

#formulario p {
    text-align: center;
    line-height: 1.2em;
    padding: 10px;
}

.areaForm {
    display: block;
    width: 100%;
    height: 40px;
    margin-bottom: 5px;
    background-color: #552ca0;
    color: white;
    border-radius: 10px;
}

.areaForm span {
    font-size: 2em;
    text-align: center;
    width: 40px;
    height: 100%;
    padding: 5px;
}

.areaForm > input {
    background-color: #daeedf;
    width: calc(100% - 45px);
    height: 100%;
    border-radius: 10px;
    border: 2px solid var(--cor2);
    padding: 5px;

    transform: translateY(-13px);
}

.areaForm > input:focus-within {
    background-color: white;
}

form > input[type="submit"] {
    display: block;
    margin: auto;
    margin-top: 12px;
    margin-bottom: 5px;
    width: 90%;
    height: 40px;
    background-color: white;
    color: var(--cor2);
    font-weight: bold;
    font-size: 1.2em;
    border: none;
    border-radius: 8px;
}

form > input[type="submit"]:hover {
    background-color:var(--cor2);
    border-color: white;
    color: white;
}

form > a {
    display: block;
    margin: auto;
    text-align: center;
    padding-top: 5px;
    width: 90%;
    height: 30px;
    background-color: var(--cor1);
    color: var(--cor2);
    font-size: 1.1em;
    border-radius: 5px;
}

form > a > #btnForget {
    font-size: 0.9em;
}