@charset "Utf-8";

:root {
    --cor1: #6bdb84;
    --cor2: #552ca0;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

html,
body {
    background-color: var(--cor2);
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
}


#telaLogin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 500px;

    border-radius: 20px;
    background-color: var(--cor1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.733);
    overflow: hidden;

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

#telaLogin>#imagem {
    display: block;
    background: var(--cor1) url(../images/pexels-miriam-espacio-2703478.jpg) no-repeat;
    background-size: cover;
    margin-bottom: 10px;
    height: 220px;
}

#telaLogin > #formulario {
    display: block;
}

h1 {
    text-align: center;
    color: var(--cor2);
}

div>p {
    text-align: center;
    line-height: 1.2em;
    margin: 10px 0px;
}

#areaMail {
    background-color: var(--cor2);
    padding: 10px;
    margin-bottom: 5px;
    margin: 5px;
}

#areaSenha {
    background-color: var(--cor2);
    padding: 10px;
    margin: 5px;
}

#submit {
    margin: auto;
    display: block;
    margin-bottom: 10px;
}

#btnForget {
    display: block;
    margin: auto;
}